<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif] -->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif] -->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif] -->
<!-- [if gt IE 8]>      <html class="no-js"> <!--<![endif] -->
<html>
<head>
    <meta charset="utf-8"></meta>

    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    ></meta>

    <title>New Video Email Template</title>

    <meta
        name="description"
        content="update email for subscribers"
    ></meta>

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    ></meta>

     <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap"
        rel="stylesheet"
    ></link>

</head>

<body>
    <!-- [if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif] -->

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap"
        rel="stylesheet"
    ></link>

    style

    <div
        style="{{display:"
        flex,="flex,"
        height:="height:"
        250px}}="250px}}"
    >
        <img
            src="https://pixelist.design/rorysmytube/Green-sea-turtle.png"
            alt="logo"
            style="{{height:"
            200px,="200px,"
            width:="width:"
            margin:="margin:"
            auto}}="auto}}"
        >
    </div>

    <div>
        <img
            src="https://pixelist.design/rorysmytube/Green-sea-turtle.png="
            style="width: 250px"
        >

        <h1>
            rorysyoutube.com has a new video called '{{newVideoName}}'
        </h1>

        <h3>
            567turtle says this about '{{newVideoName}}': "{{newVideoDescription}}."
        </h3>

        <h3>
            Watch '{{newVideoName}}' <a href="https://rorysmytube.com" target="_blank">here.</a> and please tick 'like' if you like it!
        </h3>

        <h4>
            And watch out for more videos coming soon!
        </h4>

        <h5>Yours,</h5>

        <h5>567turtle :-)</h5>

    </div>
</body>
</html>